* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px;
  color: #333333;
  font-family: BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes flash {
  to {
    border-color: #ff0000;
  }
}

@keyframes rainbow {
  100%,
  0% {
    color: rgb(255, 0, 0);
  }
  8% {
    color: rgb(255, 127, 0);
  }
  16% {
    color: rgb(255, 255, 0);
  }
  25% {
    color: rgb(127, 255, 0);
  }
  33% {
    color: rgb(0, 255, 0);
  }
  41% {
    color: rgb(0, 255, 127);
  }
  50% {
    color: rgb(0, 255, 255);
  }
  58% {
    color: rgb(0, 127, 255);
  }
  66% {
    color: rgb(0, 0, 255);
  }
  75% {
    color: rgb(127, 0, 255);
  }
  83% {
    color: rgb(255, 0, 255);
  }
  91% {
    color: rgb(255, 0, 127);
  }
}

.header {
  font-weight: lighter;
  font-size: 15px;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px;
  border-bottom: solid #333333 2px;
}

.loading {
  margin: 10px;
  font-size: 40px;
  animation: spin 1s infinite linear;
}

.board {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  display: flex;
  margin-bottom: 10px;
}

.gap {
  border: solid #cccccc;
  width: 45px;
  height: 45px;
  margin-right: 14px;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  text-transform: uppercase;
}

.gap-correct {
  background-color: #006400;
  color: white;
}

.gap-close {
  background-color: #daa520;
  color: white;
}

.gap-incorrect {
  background-color: #888888;
  color: white;
}

.gap-invalid {
  animation: flash 0.5s reverse linear;
}

.invisible {
  visibility: hidden;
}

.rainbow-animation {
  animation: rainbow 3s infinite linear;
}